// This class is created dinamically on the tables - is not catched by JIT
.w-\[18\.2\%\] {
    width: 18.2%;
}
// This class is created dinamically on the tables - is not catched by JIT
.w-\[20\%\] {
    width: 20%;
}
// This class is created dinamically on the tables - is not catched by JIT
.w-\[22\.75\%\] {
    width: 22.75%;
}
